/_build
/deps
erl_crash.dump
*.ez

#vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

#rust
*.o
*.so
*.rlib
*.dll
*.exe
/native/world/target/
/native/chunk/target/
/genbiome/target/
